@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/table.js"></script>

<div class="page-header">
    <h2 class="text-center">Добавление пользователя</h2>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Добавить нового пользователя</h2>
            </div>
            <div class="panel-body" data-bind="with: addUsersViewModel">
                @Html.Partial("_RegisterUsers")
            </div>
        </div>
    </div>
    <br />
   
    <div class="col-md-8"  style="float:right;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Список пользователей</h2>
            </div>
            <div class="panel-body" data-bind="with: paginationViewModel">
                @Html.Partial("_UserList")
            </div>
        </div>
    </div>
    <div class="col-md-4" data-bind="visible:Display">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Редактировать  пользователя</h2>
            </div>
            <div class="panel-body" data-bind="with: addUsersViewModel">
                @Html.Partial("_EditUser")
            </div>
        </div>
    </div>


</div>




