@{
    ViewBag.Title = "Home Page";
}


    <table data-bind="visible: people().length>0" style="border: 1px solid black;">
        <thead>
            <tr><th>ID<th>Имя</th><th>Фамилия</th></tr>
        </thead>
        <tbody data-bind="foreach: people">

            <tr>
                <td data-bind="text: $data.id"></td>
                <td data-bind="text: $data.firstName"></td>
                <td data-bind="text: $data.lastName"></td>
                <td><a href="#" data-bind="click: $root.removePerson">Удалить</a></td>
                <td><a href="#" data-bind="click: $root.Display">Редактировать</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <form data-bind="submit:addPerson">
        Имя пользователя <input type="text" data-bind='value:Name, valueUpdate: "afterkeydown"' />
        <br>
        Фамилия пользователя <input type="text" data-bind='value:LastName, valueUpdate: "afterkeydown"' />
        <br>
        <button type="submit"> Добавить</button> <button data-bind="click: sortItems">Сортировка</button>
    </form>
    <form data-bind="visible:editDisplay, submit:addPerson.bind($data, ID)">
        Имя пользователя <input type="text" data-bind='value:Name, valueUpdate: "afterkeydown"' />
        <br>
        Фамилия пользователя <input type="text" data-bind='value:LastName, valueUpdate: "afterkeydown"' />
        <br>
        <button type="submit"> Редактировать</button>
    </form>




    <script  type='text/javascript' src="~/Scripts/table.js"></script>
